<!-- views/templates/b-header.ejs -->

<header>
  <div id="logo">
      <i class="fas fa-book-open"></i>
      <h1>도서 대여 프로그램</h1>
  </div>

  <div id="status-list">
      <span id="sign-in">Sign In</span>
      <span id="sign-out">Sign Out</span>
      <span id="book-create">도서추가</span>
  </div>
</header>