<!-- views/templates/b-header.ejs -->

<header>
  <div id="logo">
      <i class="fas fa-book-open"></i>
      <h1>도서 대여 프로그램</h1>
  </div>

  <div id="status-list">
      <span id="sign-in">Sign In</span>
      <span id="sign-out">Sign Out</span>
  </div>
</header>

<nav class="tab-wrap">
  <div class="menu-container">
    <button class="menu-btn">도서관 관리</button>
  </div>

  <div class="box-container">
    <span class="box" id="user-management">회원 관리</span>
    <span class="box" id="book-create">도서 등록</span>
    <span class="box" id="rental-list">대여 목록</span>
  </div>
</nav>