<!-- views/templates/home-header.ejs -->

<header>
  <div class="logo">
    <i class="fas fa-home"></i>
  </div>

  <h1>도서 대여 프로그램</h1>
  
  <div class="btn-move-book">
    <i class="fas fa-book-open"></i>
  </div>
</header>