<!-- views/home/sign-in.ejs -->

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/4067fec9b0.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/home/sign-in.css">
    <link rel="stylesheet" href="/css/book-main.css">
    <script type="module" src="/js/home/sign-in.js" defer></script>

    <title>도서 대여 프로그램</title>
</head>

<body>
  <%- include('../templates/home-header') %>

    <!-- 로그인 폼 -->
    <section id="signin-form">
      <h1>로그인</h1>

      <article id="signin-input">
        <label for="id">아이디</label>
        <input type="text" class="input" placeholder="아이디" id="id" name="id">
        <label for="pw">비밀번호</label>
        <input type="password" class="input" placeholder="비밀번호" id="pw" name="pw">
      </article>

      <article id="btns">
        <button id="signin-btn">로그인</button>
        <button id="signup-btn">회원가입</button>
      </article>
    </section>

    <!-- 과제 자료 -->
    <section id="datas">
      <h1>도서 대여 프로그램</h1>

      <article id="discription">
        <h2>시스템 설명(요구사항 분석)</h2>
        <span>회원은 도서를 빌리거나 반납할 수 있으며, 관리자는 도서를 추가, 삭제, 수정 등의 작업을 할 수 있다.</span>

        <h2>기능 설계</h2>
        <span>(1) 도서 : 조회, 추가, 삭제, 수정이 가능해야 한다.</span>
        <span>(2) 사용자 : 회원가입, 로그인이 가능해야 한다.</span>
        <span>(3) 관리자 : 도서를 관리(조회, 추가, 삭제, 수정) 할 수 있어야 한다.</span>
        <span>(4) 회원 : 도서를 조회하고 대여, 반납이 가능해야 한다.</span>
        <span>(5) 비회원 : 도서를 조회와 상세 보기만 가능해야 한다.</span>

        <h2>서비스 시나리오</h2>
        <span>[프런트 담당 김주임의 하루]</span>
        <span>아침 6시 알람소리가 울리자, 창문으로 들어오는 따듯한 햇살을 느끼며 잠에서 깬다. 나는 중앙 도서관 프런트에서 근무하는 김사랑이다. 
          아침 7시 도서관으로 출근하기 전, 늘 그렇듯 도서 대여 프로그램을 통해 새로 입고된 도서를 확인한다. “오늘은 입고된 도서가 없네” 입고된 도서가 없을 때는 기존 출근 시간보다 1시간 늦게 출근해도 된다. 도서 대여 프로그램이 생긴 이후로는 자기 계발 시간이 늘어난 것 같아 종종 소소한 행복을 느끼고 있다. 
          도서관 출근 후, 처음으로 시작하는 업무는 기한 내에 반납하지 못한 회원 목록을 확인하는 것이다. 도서 대여 프로그램을 사용하기 전까지는 일일히 반납 리스트를 확인하며 개인적으로 반납 독촉 메일을 전송했어야 했지만, 지금은 버튼 하나면 미반납 회원들에게 프로그램이 알아서 메일을 전송하므로 휴식시간이 2시간은 늘어난 기분이다. 또한 회원들이 스스로 도서를 대여하고 반납할 수 있어서 프런트가 할 일은 고객님을 웃으며 맞이해주는 것이 전부가 됐다. 이로 인해 하루하루 여유롭게 책을 읽으며 행복한 삶을 보내고 있다.</span>
      </article>
    </section>

    <!-- 테이블 -->
    <section id="read-form">
        <h1>ERD 설계</h1>
        <table id="read-table">
            <thead>
                <tr id=field>
                    <th>테이블명</th>
                    <th>용도</th>
                    <th>비고</th>
                </tr>
            </thead>

            <tbody>
              <tr>
                <td>Books</td>
                <td>도서</td>
                <td></td>
              </tr>
              <tr>
                <td>Users</td>
                <td>회원</td>
                <td></td>
              </tr>
              <tr>
                <td>Rents</td>
                <td>대여</td>
                <td>도서, 회원 참조</td>
              </tr>
            </tbody>
        </table>
    </section>

    <!-- Books -->
    <section id="read-form">
      <h1>Books</h1>
      <table id="read-table">
          <thead>
              <tr id=field>
                  <th>필드명</th>
                  <th>데이터타입</th>
                  <th>설명</th>
              </tr>
          </thead>

          <tbody>
            <tr>
              <td>seq(PK, AUTO_INCREMENT)</td>
              <td>INT</td>
              <td>일련번호</td>
            </tr>
            <tr>
              <td>isbn</td>
              <td>CHAR(13)</td>
              <td>ISBN</td>
            </tr>
            <tr>
              <td>title</td>
              <td>VARCHAR(60)</td>
              <td>제목</td>
            </tr>
            <tr>
              <td>author</td>
              <td>VARCHAR(30)</td>
              <td>저자</td>
            </tr>
            <tr>
              <td>price</td>
              <td>INT(11)</td>
              <td>가격(원)</td>
            </tr>
            <tr>
              <td>discription</td>
              <td>TEXT(255)</td>
              <td>설명</td>
            </tr>
            <tr>
              <td>image</td>
              <td>BLOB</td>
              <td>이미지</td>
            </tr>
            <tr>
              <td>link</td>
              <td>VARCHAR(255)</td>
              <td>관련 링크</td>
            </tr>
            <tr>
              <td>is_rent</td>
              <td>CHAR(1)</td>
              <td>대여 여부(Y,N)</td>
            </tr>
          </tbody>
      </table>
  </section>
    
  <!-- Users -->
  <section id="read-form">
    <h1>Users</h1>
    <table id="read-table">
        <thead>
            <tr id=field>
                <th>필드명</th>
                <th>데이터타입</th>
                <th>설명</th>
            </tr>
        </thead>

        <tbody>
          <tr>
            <td>id(PK, AUTO_INCREMENT)</td>
            <td>VARCHAR(20)</td>
            <td>아이디</td>
          </tr>
          <tr>
            <td>pw</td>
            <td>VARCHAR(20)</td>
            <td>비밀번호</td>
          </tr>
          <tr>
            <td>name</td>
            <td>VARCHAR(30)</td>
            <td>이름</td>
          </tr>
          <tr>
            <td>birthday</td>
            <td>DATE</td>
            <td>생년월일</td>
          </tr>
          <tr>
            <td>sex</td>
            <td>CHAR(1)</td>
            <td>성별(M,F)</td>
          </tr>
          <tr>
            <td>phone</td>
            <td>VARCHAR(15)</td>
            <td>연락처</td>
          </tr>
          <tr>
            <td>email</td>
            <td>VARCHAR(255)</td>
            <td>이메일 주소</td>
          </tr>
          <tr>
            <td>image</td>
            <td>BLOB</td>
            <td>사진</td>
          </tr>
          <tr>
            <td>reg_date</td>
            <td>DATE</td>
            <td>등록일</td>
          </tr>
          <tr>
            <td>out_date</td>
            <td>DATE</td>
            <td>탈퇴일</td>
          </tr>
          <tr>
            <td>is_manager</td>
            <td>CHAR(1)</td>
            <td>관리자 여부(Y,N)</td>
          </tr>
          <tr>
            <td>rent_count</td>
            <td>INT</td>
            <td>대여 수</td>
          </tr>
        </tbody>
    </table>
</section>

<!-- Rents -->
<section id="read-form">
  <h1>Rents</h1>
  <table id="read-table">
      <thead>
          <tr id=field>
              <th>필드명</th>
              <th>데이터타입</th>
              <th>설명</th>
          </tr>
      </thead>

      <tbody>
        <tr>
          <td>seq(PK, AUTO_INCREMENT)</td>
          <td>INT</td>
          <td>대여 일련번호</td>
        </tr>
        <tr>
          <td>date</td>
          <td>DATE</td>
          <td>대여일</td>
        </tr>
        <tr>
          <td>return_date</td>
          <td>DATE</td>
          <td>반납일</td>
        </tr>
        <tr>
          <td>books_seq(FK)</td>
          <td>INT</td>
          <td>도서 일련번호, Books 참조</td>
        </tr>
        <tr>
          <td>users_id(FK)</td>
          <td>VARCHAR(20)</td>
          <td>회원 아이디, Users 참조</td>
        </tr>
        <tr>
          <td>is_return</td>
          <td>CHAR(1)</td>
          <td>반납 여부(Y,N)</td>
        </tr>
      </tbody>
  </table>
</section>
</body>

</html>